.box
  .header
    = link_to image_tag("/images/logo/logo.png", width: '120px', alt: "logo1"),root_path

  .main
    .main__login
      .main__login__account
        %p アカウントをお持ちでない方はこちら
        = link_to "#" do
          新規会員登録
      .main__login__api
        .main__login__api__facebook
          = link_to "#" do
            Facebookでログイン
        .main__login__api__google
          = link_to "#" do
            Googleでログイン
      .main__login__form
        .main__login__form__box
          .form__email
            = form_with do |f|
              = f.text_field :email, placeholder: "メールアドレス", class: "email__text"
          .form__passward
            = form_with do |f|
              = f.text_field :passward, placeholder: "パスワード", class: "passward__text"
          .form__check
            .form__check__box
              = form_with do |f|
                = f.text_field :nickname, type: "checkbox", class: "check__btn"
            .form__check__text
              私はロボットではありません
        .main__login__form__button
          = link_to "#" do
            ログイン
        .main__login__form__passward
          = link_to "#" do
            パスワードをお忘れの方

  .footer
    .footer__box
      .footer__box__text
        プライバシーポリシー
      .footer__box__message
        メルカリ利用規約
      .footer__box__form
        特定商取引に関する表記
    .footer__logo
      mercari
      .footer__logo__text
        © Mercari, Inc.