.header
  = render 'products/header'
.body
  .left_content
    = render partial: 'sidebar'
  
  .right_content
    .user
      .user_info
        %h2.user_info__name
          = current_user.nickname
          さん
        %ul.user_info__products
          %li.user_info__products__status 評価0
          %li.user_info__products__length 出品数
      .user_topic
        %ul.tab
          %li.active お知らせ
          %li やることリスト
        .area
          %ul.show
            = link_to 'ニュース','#', class: 'topic'
            = link_to '一覧表示','#', class: 'all'

          %ul
            = link_to 'やること','#', class: 'todo'
            = link_to '一覧表示','#', class: 'all'

    .products
      %h3 購入した商品
      .products__list
        %ul.tab
          %li.active 取引中
          %li 過去の取引
        .area
          %ul.show
            = link_to 'カバン','#', class: 'deal'
            
          %ul
            = link_to '靴','#', class: 'past'
.footer
  = render 'products/footer'