.edit-preview
  .edit-header
    部分テンプレート
  .edit-products
    = form_with model: @product, local: true do |f|
      .edit-products__name
        = @product.name
      .edit-contents
        .edit-first_content
          %ul.edit-first_content_image
            - @product.images.each do |img|
              = image_tag img.image_url
            %label{class: "edit-sub_image__ultext"} 
              = f.fields_for :images do |i|
                = i.file_field :image,"data-id": "#{i.index}",class: "file_field"
                .js-remove 削除
                - if @product.persisted?
                  = i.check_box :_destroy, data: { index: i.index }, class: 'hidden-destroy'
              - if @product.persisted?
                .js-file_group{data: { index: "#{@product.images.count}" }}
                  = file_field_tag :image, name: "product[images_attributes][#{@product.images.count}]image]", class: "js-file"
                  .js-remove 削除
      .edit-second_content
        .edit-products_info
          %table
            %tr
              %th
                価格
              %td
                = f.number_field :price, class:'price-box'
                円 (税込)
                .fas.fa-pen
            %tr
              %th
                商品名
              %td
                = f.text_field :name, class:'name-box'
                .fas.fa-pen
            %tr
              %th
                カテゴリー
              %td
                = f.select :category, Category.all.map { |category| [category.name] }, class:'category-box1'
                = f.select :category, Category.all.map { |category| [category.name] }, class:'category-box2'
                = f.select :category, Category.all.map { |category| [category.name] }, class:'category-box3'
            %tr
              %th
                商品のサイズ
              %td
                = f.text_field :size, class:'size-box'
                .fas.fa-pen
            %tr
              %th
                商品の状態
              %td
                = f.text_field :condition, class:'status-box'
                .fas.fa-pen
            %tr
              %th
                配送料の負担
              %td
                = f.text_field :payer, class:'payer-box'
                .fas.fa-pen
            %tr
              %th
                発送元地域
              %td
                = f.text_field :shippingaddress, class:'shippingaddress-box'
                .fas.fa-pen
            %tr
              %th
                配送状態
              %td
                = f.text_field :status, class:'status-box'
                .fas.fa-pen
            %tr
              %th
                発送予定日数
              %td
                = f.text_field :shippingdate, class:'shippingdate-box'
                .fas.fa-pen
            .edit-done1
              = f.submit '編集を完了する', class: 'edit-done2'
  .edit-footer
    部分テンプレート