.edit-preview
  .edit-header
    .single-container
      %header.single-header
        %h1
          =link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?73731125", alt: "mercari", class: "image"), root_path
      %main.single-main
        %section.l-single-container.buy-item-container
          #sell-container
            %div{"data-reactroot": ""}
              .sell-container-inner
  .edit-products
    = form_with model: @product, local: true do |f|
      .edit-products__name
        = @product.name
      .edit-contents
        .edit-first_content
          %ul.edit-first_content_image
            - @product.images.each_with_index do |img, num|
              = image_tag img.image_url, class: "preview_image change_image", id: "preview_image_id_#{num}"
            = f.fields_for :images do |i|
              .js-file_group{ data: { index: "#{i.index}" }}
                = i.file_field :image,"data-index": "#{i.index}",class: "js-file input_btn"
                %span.js-remove 削除
              - if @product.persisted?
                = i.check_box :_destroy, data: { index: i.index }, class: 'hidden-destroy'
            - if @product.persisted? && @product.images.length <= 4
              .js-file_group{ data: { index: "#{@product.images.count}" }}
                = file_field_tag :image, name: "product[images_attributes][#{@product.images.count}][image]", class: "js-file input_btn"
                %span.js-remove 削除
      .sell-content
        .form-group
          %label
            商品名
            %span.form-require
              必須

          = f.text_field :name, placeholder: "商品名（必須 40文字まで)", value: "#{@product.name}", class: "input-default"
        .form-group
          %label
            商品の説明
            %span.form-require
              必須

          = f.text_area :detail, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5", class: "textarea-default"
      .sell-content.clearfix
        %h3.sell-sub-head
          商品の詳細
        .sell-form-box
          .form-group
            %label
              カテゴリー
              %span.form-require
                必須


            %div
              .select-wrap
                %i.fa.fa-chevron-down
                = f.collection_select :category_id, @category, :id, :name, { prompt: "---" }, { class: "category_select-box", id: "category_select" }
              .product_select-children
            %label
              サイズ
              %span.form-require
                必須
            = f.collection_select :size_id, Size.all, :id, :name, prompt: "--", class: 'select-default'
              
          .form-group
            .form-group
              %label
                商品の状態
                %span.form-require
                  必須
              .select-wrap
                %i.icon-arrow-bottom

                = f.collection_select :condition_id, Condition.all, :id, :name, prompt: "--", class: 'select-default'

      .sell-content.clearfix
        %h3.sell-sub-head
          配送について
        .sell-form-box
          .form-group
            %label
              配送料の負担
              %span.form-require
                必須
            .select-wrap
              %i.icon-arrow-bottom

              = f.collection_select :payer_id, Payer.all, :id, :name, prompt: "--", class: 'select-default'

          .form-group
            %label
              発送元の地域
              %span.form-require
                必須
            .select-wrap
              %i.icon-arrow-bottom

              = f.collection_select :shippingaddress_id, Shippingaddress.all, :id, :name, prompt: "--", class: 'select-default'
          .form-group
            %label
              発送までの日数
              %span.form-require
                必須
            .select-wrap
              %i.icon-arrow-bottom

              = f.collection_select :shippingdate_id, Shippingdate.all, :id, :name, prompt: "--", class: 'select-default'
              
      .sell-content.clearfix
        %h3.sell-sub-head
          配送について
        .sell-form-box
          %ul.sell-price
            %li.form-team
              %label.l-left
                価格
                %span.form-require
                  必須
              .l-right.sell-price-input
                ¥
                %div
                  = f.text_field :price, placeholder: "例）300", value: "#{@product.price}", class: "input-fee"
            %li.clearfix
              .l-left
                販売手数料(10%)
              .l-right
                _
            %li.clearfix.bold
              .l-left
                販売利益
              .l-right
                _
        .edit-done1
          = f.submit '編集を完了する', class: 'edit-done2'
              
  %footer.single-footer
    %nav
      %ul.clearfix
        %li.first
          =link_to "プライバシーポリシー", "#", class: 'second'
        %li.first
          =link_to "メルカリ利用規約", "#", class: 'second'
        %li.first
          =link_to "特定商取引法に関する表記", "#", class: 'second'
    =link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?73731125", alt: "mercari", height: "65", width: "80", class: "single-footer-logo"), root_path
    %p
      %small.third 
        © Mercari, Inc.