.header
  -# .header__top
  -#   .header__top__logo
  -#     %h1
  -#       = link_to image_tag("/images/logo/logo.png", width: '120px', alt: "logo1"),root_path
  -#   .search
  -#     = form_tag() do
  -#       %label.search__label
  -#         = icon'fa', 'search', class: "search__label--icon"
  -#       = text_field_tag :search, "",class:"search__field",placeholder:"何かお探しですか？"
  -# .header__bottom
  -#   .header__bottom__left
  -#     %ul.header__bottom__left__categories
  -#       %li
  -#       = link_to root_path do
  -#         =image_tag("/images/icon/icon_category.png", width: '20px', alt: "icon1")
  -#         %span カテゴリから探す
  -#       %li
  -#       = link_to root_path do
  -#         =image_tag("/images/icon/icon_brand.png", width: '20px', alt: "icon2")
  -#         %span ブランドから探す
  -#   .header__bottom__right
  -#     .header__bottom__right__categories
  -#       - if user_signed_in?
  -#         = link_to "マイページ", "/users/#{current_user.id}", class: "btn-registration"
  -#         = link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn-login"
  -#         = link_to "FURIMAとは", root_path, class:"about-furima"
  -#       - else
  -#         = link_to "新規会員登録", new_signup_path, class: "btn-registration"
  -#         = link_to "ログイン", new_user_session_path, class:"btn-login"
  -#         = link_to "FURIMAとは", root_path, class:"about-furima"
  = render "header"
.nav.slick-slider
  = link_to "#" do
    = image_tag "https://picsum.photos/1250/400", class:"google_image", alt:""
  -# = link_to "#" do
  -#   = image_tag "https://picsum.photos/1700/400", class:"google_image", alt:""
  -# .apple-link
  -# = link_to "#" do
  -#   -# = image_tag("/images/link/en_badge_web_generic.png", class:"apple_image", alt:"")
  -# .google-link
  -# = link_to "#" do
  -#   = image_tag "/link/en_badge_web_generic.png", class:"google_image", alt:""

.main
  .main__top
    .main__top__header
      %h2 人気のカテゴリー
    .main__top__pickups
      %li レディース
      %li メンズ
      %li 家電・スマホ

  -# %h3 レディース新着アイテム
  -# = link_to "もっと見る ＞","#", class:"more"
  - if @product.blank?
    .first 
  - else
    .first 
      - @product[0..4].each do |product|
        .first__contents
          .first__contents__box
            = link_to '', product_path(product.id), class: 'first__contents__box__link'
            .first__contents__box__img
              = image_tag product.images[0].image_url
            .first__contents__box__name
              = product.name
            .first__contents__box__price
              = "#{product.price}円"
            .first__contents__header
              .first__contents__header__name
              .first__contents__header__more
  - if @product[5..9].present?              
    .first
      - @product[5..9].each do |product|
        .first__contents
          .first__contents__box
            = link_to '', product_path(product.id), class: 'first__contents__box__link'
            .first__contents__box__img
              = image_tag product.images[0].image_url
            .first__contents__box__name
              = product.name
            .first__contents__box__price
              = "#{product.price}円"
            .first__contents__header
              .first__contents__header__name
              .first__contents__header__more
              
  -# %h3 メンズ新着アイテム
  -# = link_to "もっと見る ＞","#", class:"more"
  .second__contents
    .second__contents__header
    .second__contents__content
      .second__contents__content__img
      .second__contents__content__text-box
    .second__contents__price-box
      .second__contents__box
        .second__contents__header
          .second__contents__header__name
          .second__contents__header__more


  -# %h3 家電・スマホ新着アイテム
  -# = link_to "もっと見る ＞","#", class:"more"
  .main__contents
    .main__contents__header
    .main__contents__content
      .main__contents__content__img
      .main__contents__content__text-box
    .main__contents__price-box
      .main__contents__box
        .main__contents__header
          .main__contents__header__name
          .main__contents__header__more

.footer
  = render 'footer'

.purchase-btn
  %span.purchase_text 出品
  - if user_signed_in?
    = link_to "", new_product_path, class: "adada"
    .fas.fa-camera
  - else
    = link_to "", new_user_session_path, class: "adada"
    .fas.fa-camera