.header
  = render "header"
.main-image
  = image_tag "/assets/bg-mainVisual-pict_pc.jpg", class:"google_image", alt:""
  = image_tag "/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg"
  
.main
  .main__top
    .main__top__header
      %h2 人気のカテゴリー
    .main__top__pickups
      %li レディース
      %li メンズ
      %li 家電・スマホ

  - if @product.blank?
    .first 
  - else
    .first 
      - @product[0..4].each do |product|
        .first__contents
          .first__contents__box
            = link_to '', product_path(product.id), class: 'first__contents__box__link'
            .first__contents__box__img
              = image_tag product.images[0].image_url
            .first__contents__box__name
              = product.name
            .first__contents__box__price
              = "#{product.price}円"
            .first__contents__header
              .first__contents__header__name
              .first__contents__header__more
  - if @product[5..9].present?              
    .first
      - @product[5..9].each do |product|
        .first__contents
          .first__contents__box
            = link_to '', product_path(product.id), class: 'first__contents__box__link'
            .first__contents__box__img
              = image_tag product.images[0].image_url
            .first__contents__box__name
              = product.name
            .first__contents__box__price
              = "#{product.price}円"
            .first__contents__header
              .first__contents__header__name
              .first__contents__header__more
              
.footer
  = render 'footer'

.purchase-btn
  %span.purchase_text 出品
  - if user_signed_in?
    = link_to "", new_product_path, class: "adada"
    .fas.fa-camera
  - else
    = link_to "", new_user_session_path, class: "adada"
    .fas.fa-camera