.single-container
  %header.single-header
    %h1
      =link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?73731125", alt: "mercari", class: "image"), root_path
  %main.single-main
    %section.l-single-container.buy-item-container
      #sell-container
        %div{"data-reactroot": ""}
          .sell-container-inner
            %h2.l-single-head
              商品の情報を入力
          = form_with(model: @product, url: products_path, local: true, multipart: true) do |f|
            .sell-form
              .sell-upload-box
                %h3.sell-upload-head
                  出品画像
                  %span.form-require
                    必須
                %p 最大10枚までアップロードできます
                .sell-dropbox-container.clearfix.state-image-number-10 
                  .sell-upload-items-container
                    .sell-upload-items.have-item-0
                      %ul
                  .sell-upload-drop-box.have-item-0
                    #image-box
                      #previews
                        - if @product.persisted?
                          - @product.images.each_with_index do |image, im|
                            = image_tag image.src.url, data: { index: im}, width: "100", height: "100"
                        = f.fields_for :images do |i|
                          .js-file_group{data: {id: "#{i.index}"}}
                            = i.file_field :image, class: "js-file"
                            .js-remove 
                          - if @product.persisted?
                            = i.check_box :destroy, data:{ id: image.index }, class: 'hidden-destroy'
                            -# = link_to '編集', "#{edit_product_path}"
                        - if @product.persisted?
                          .js-file_group{data: {id: "#{@product.images.count}"}}
                            = i.file_field :image, name: "product[images_attributes][#{@product.images.count}][src]", class: "js-file"
                            .js-remove 削除
                    %pre.visible-pc ドラッグアンドドロップまたはクリックしてファイルをアップロード
                    %i.icon-camera
              .sell-content
                .form-group
                  %label
                    商品名
                    %span.form-require
                      必須

                  -# %inputを削除
                  = f.text_field :name, placeholder: "商品名（必須 40文字まで)", value: "", class: "input-default"
                .form-group
                  %label
                    商品の説明
                    %span.form-require
                      必須

                  -# %textareaを削除    
                  = f.text_area :detail, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5", class: "textarea-default"
              .sell-content.clearfix
                %h3.sell-sub-head
                  商品の詳細
                .sell-form-box
                  .form-group
                    %label
                      カテゴリー
                      %span.form-require
                        必須


                    %div
                      .select-wrap
                        %i.fa.fa-chevron-down
                        = f.collection_select :category_id, @category, :id, :name, { prompt: "---" }, { class: "category_select-box", id: "category_select" }
                      .product_select-children
                    %label
                      サイズ
                      %span.form-require
                        必須
                    = f.collection_select :size_id, Size.all, :id, :name, prompt: "--", class: 'select-default'
                      
                  .form-group
                    .form-group
                      %label
                        商品の状態
                        %span.form-require
                          必須
                      .select-wrap
                        %i.icon-arrow-bottom

                        = f.collection_select :condition_id, Condition.all, :id, :name, prompt: "--", class: 'select-default'

              .sell-content.clearfix
                %h3.sell-sub-head
                  配送について
                .sell-form-box
                  .form-group
                    %label
                      配送料の負担
                      %span.form-require
                        必須
                    .select-wrap
                      %i.icon-arrow-bottom

                      = f.collection_select :payer_id, Payer.all, :id, :name, prompt: "--", class: 'select-default'

                  .form-group
                    %label
                      発送元の地域
                      %span.form-require
                        必須
                    .select-wrap
                      %i.icon-arrow-bottom

                      = f.collection_select :shippingaddress_id, Shippingaddress.all, :id, :name, prompt: "--", class: 'select-default'
                  .form-group
                    %label
                      発送までの日数
                      %span.form-require
                        必須
                    .select-wrap
                      %i.icon-arrow-bottom

                      = f.collection_select :shippingdate_id, Shippingdate.all, :id, :name, prompt: "--", class: 'select-default'
                      
              .sell-content.clearfix
                %h3.sell-sub-head
                  配送について
                .sell-form-box
                  %ul.sell-price
                    %li.form-team
                      %label.l-left
                        価格
                        %span.form-require
                          必須
                      .l-right.sell-price-input
                        ¥
                        %div
                          = f.text_field :price, placeholder: "例）300", value: "", class: "input-fee"
                    %li.clearfix
                      .l-left
                        販売手数料(10%)
                      .l-right
                        _
                    %li.clearfix.bold
                      .l-left
                        販売利益
                      .l-right
                        _
              .modal{role: "dialog", tabindex: "-1"}
                .modal-innner
              .sell-content.sell-btn-box
                %div
                  %p
                    =link_to "禁止されている出品", "#"
                    ,
                    =link_to "行為", "#" 
                    を必ずご確認ください
                  %p
                    またブランド品でシリアルナンバー等がある場合はご記載ください。
                    =link_to "偽ブランドの販売", "#"
                    は犯罪であり処罰される可能性があります。
                  %p
                    また、出品をもちまして
                    =link_to "加盟店規約", "#"
                    に同意したことになります。
                %button.btn-default.btn-red{type: "submit"}
                  出品する
                %button.btn-default.btn-gray{action: root_path}
                  もどる
  %footer.single-footer
    %nav
      %ul.clearfix
        %li.first
          =link_to "プライバシーポリシー", "#", class: 'second'
        %li.first
          =link_to "メルカリ利用規約", "#", class: 'second'
        %li.first
          =link_to "特定商取引法に関する表記", "#", class: 'second'
    =link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?73731125", alt: "mercari", height: "65", width: "80", class: "single-footer-logo"), root_path
    %p
      %small.third 
        © Mercari, Inc.
        