.preview
  .header
    = render 'header'
  .products
    .products__name
      = @product.name
    .contents
      
      .first_content
        = image_tag @product.images[0].image_url, id: "main_image"
      .sub_image
        - @product.images.each_with_index do |image, i|
          .sub_image_content
            = image_tag image.image_url, id: "image#{i+1}"
            
      .price
        = @product.price
        円
        .price__payer
          .price__payer__tax
            (税込）
          .price__status__postage
            送料込み
      - if user_signed_in? && current_user.id == @product.seller
        .buy
          .not_buy-btn 購入画面に進む
      - else
        .buy
          .delete-btn
            = link_to 'この商品を削除する', "#{@product.id}", method: :delete, class:'delete'
        .buy
          = link_to '購入画面に進む',  confirm_product_path, class: 'buy_btn'
      .second_content
        = @product.name
      .products_info
        %table
          %tr
            %th
              出品者
            %td
              = @product.seller
          %tr
            %th
              カテゴリー
            %td
              = @product.category.name
          %tr
            %th
              商品のサイズ
            %td
              = @product.size
          %tr
            %th
              商品の状態
            %td
              = @product.condition
          %tr
            %th
              配送料の負担
            %td
              = @product.payer
          %tr
            %th
              発送元地域
            %td
              = @product.shippingaddress
          %tr
            %th
              配送状態
            %td
              = @product.status
          %tr
            %th
              発送予定日数
            %td
              = @product.shippingdate
      .option
        %ul.likes
          %i.fas.fa-star
          %li お気に入り 0
        %ul.report
          %i.fas.fa-flag
          %li 不適切な商品の通報

    .comment
      .comment__field
        .comment__field__info
          .user_name
            フリマさん
          .create_date
            2020年2月3日
        .comment__field__text
          お気に入りです。
        .comment__field__info
          .user_name
            フリマさん
          .create_date
            2020年2月3日
        .comment__field__text
          お気に入りです。
          
      .form
        = form_with do |f|
          = f.text_area :detail, class: 'text_area'
          .text_note
            相手のことを考え丁寧なコメントを心がけましょう。
            %br/
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = f.submit 'コメントする',class: 'send_btn'
  %ul.btn
    %li
      = link_to '< 前へ', '#',class: 'left_btn'
    %li
      = link_to '次へ >', '#',class: 'right_btn'
  .item_more
    = link_to 'もっと見る','#',class: 'item_more__btn'
  .footer
    = render 'footer'