<!DOCTYPE html>
<html>
  <head>
    <title>Freemarket67g</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.pay.jp/", type="text/javascript"></script>
    <script type="text/javascript">Payjp.setPublicKey('pk_test_44fcb39a49afbd7cd6794ea7');</script>
  </head>


  <body>
    <%= yield %>
    <%# <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> %>
  </body>
</html>
